body {
  margin: 0;
  padding: 0;
  background-image: url('/assets/imgs/wallpaper-0١.svg');
  background-size: cover;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16rem;
}
ul {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  animation: grow 1.6s ease-in-out infinite;
}
@keyframes grow {
  0%,
  40%,
  100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}

ul li:nth-child(1) {
  animation-delay: -1.4s;
  background: #f19323;
  box-shadow: 0 0 50px #f19323;
}
ul li:nth-child(2) {
  animation-delay: -1.2s;
  background: #7ab1be;
  box-shadow: 0 0 50px #7ab1be;
}
ul li:nth-child(3) {
  animation-delay: -1s;
  background: #d51f26;
  box-shadow: 0 0 50px #d51f26;
}
ul li:nth-child(4) {
  animation-delay: -0.8s;
  background: #ffffff;
  box-shadow: 0 0 50px #ffffff;
}
ul li:nth-child(5) {
  animation-delay: -0.6s;
  background: #f19323;
  box-shadow: 0 0 50px #f19323;
}
ul li:nth-child(6) {
  animation-delay: -0.4s;
  background: #d51f26;
  box-shadow: 0 0 50px #d51f26;
}
ul li:nth-child(7) {
  animation-delay: -0.2s;
  background: #7ab1be;
  box-shadow: 0 0 50px #7ab1be;
}
h1 {
  color: white;
  font-size: 55px;
  text-align: center;
  letter-spacing: 7px;
  margin-top: 3rem;
}

@media only screen and (max-height: 680px) {
  ul {
    top: 60%;
  }
}

@media only screen and (max-height: 825px) {
  h1 {
    margin-top: 5rem;
  }
}
